.accordion {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.acc_container {
  width: 600px;
  height: 100%;
  border: 1px solid white;
  color: white;
  margin: 5px;
}

.acc_container p {
  padding: 10px;
  font-family: 'Prosto One', cursive;
  background: linear-gradient(145deg, red, black, black, red);
}

.acc_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: 'Aboreto', cursive;
}